.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
body{
    font-family: 'Raleway', sans-serif;
}
/* banner started */
.banner{
    width: 100%;
    height: 954px;
    background-image: url("../images/banner.png");
}
.header{
    width: 1460px;
    margin: 0 auto;
    position: relative;
    top: 20px;
}
.header p{
    color: #fff;
    font-size: 17px;
    position: relative;
    top: 7px;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    float: right;
    color: #fff;
    font-size: 20px;
    position: relative;
    top: -35px;
}
.header span{
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
    position: relative;
}
.text{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 300px;
    text-align: center;
}
.text h1{
    color: #fff;
    font-size: 50px;
    font-weight: 100;
}
.text p{
    color: gray;
    font-size: 23px;
}
.key1{
    width: 190px;
    color: #fff;
    background-color:cornflowerblue;
    height: 50px;
    border: none;
    font-size: 25px;
}
/* banner finished */
/* wraper started */
    .wraper{
        width: 1100px;
        height: 320px;
        margin: 0 auto;
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .wraper-left{
        float: left;
    }
    .wraper-left img{
        border-radius: 50%;
    }
    .wraper-right{
        width: 740px;
        float: right;
        text-align: justify;
    }
    .wraper-right h2{
        position: relative;
        top:-15px;

    }
    .wraper-right p{
        color: gray;
    }
    .key2{
        background-color:cornflowerblue;
        color: #fff;
        border: none;
        font-size: 15px;
        width: 100px;
        height: 40px;
    }
/* wraper finished */
/* blue started */
.blue{
    width: 100%;
    height: 420px;
    background-color:cornflowerblue;
    margin-bottom: 75px;
}
.inside{
    width: 1100px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}
.inside-left {
    width: 740px;
    color: #fff;
    float: left;
    text-align: justify;
}
.inside-left h2{
    position: relative;
    top: -18px;
}
.inside-left p{
    color: cyan;s
}
.key3{
    background-color: #fff;
    font-size: 15px;
    width: 100px;
    height: 40px;
    color: cornflowerblue;
    border: none;
}
.inside-right{
    width: 320px;
    float: right;
}
.inside-right img{
    border-radius: 50%;
}
/* blue finished */
/* white-space started */
    .white-space{
        width: 700px;
        margin: 0 auto;
        text-align: center;
    }
    .white-space h1{
        font-size: 30px;
        font-weight: 100;
    }
    .white-space p{
        font-size: 20px;
        color: darkgrey;
    }
/* .white-space finished */
/* img started */
    .img{
        width: 1100px;
        height: 500px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .left-img{
        width: 320px;
        text-align: center;
        float: left;
        margin-right: 70px;
    }
    .left-img img{
        border-radius: 50%;
    }
    .left-img p{
        color: gray;
    }
    .center-img{
        width: 320px;
        float: left;
        text-align: center;
        margin-right: 70px;
    }
    .center-img img{
        border-radius: 50%;
    }
    .center-img p{
        color: grey;
    }
    .right-img{
        width: 320px;
        float: left;
        text-align: center;
    }
    .right-img img{
        border-radius: 50%;
    }
    .right-img p{
        color: gray;
    }
/* img fhinished */
/* footer started */
.footer{
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}
.footer p{
    color: darkgray;
}
.social{
    width: 300px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 40px;
}
.social span{
    color: gray;
    text-align: center;
    font-size: 30px;
    margin-left: 30px;
}
/* footer finished */