<html>
    <head>
        <title>Layout 1</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <!-- <meta http-equiv="refresh" content="2"> -->
        <link rel="stylesheet" href="C:\Users\HP\Desktop\WebDevelopment\css\ClassAssignment\layout1\layout1.css">
    </head>
    <body>
        <!-- header -->
        <div class="wraper">
                <div class="navigation-area">
                    <div class="logo">
                        <h1>ZIZURZ</h1>
                    </div>
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">HAIRSTYLE</a></li>
                        <li><a href="#">NEWS</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                </div>
        </div>
        <div class="master">
            <div class="box-1">
                <div class="left-box">
                    <img src="C:\Users\HP\Desktop\WebDevelopment\imgaes\girl.png" alt="wait">
                </div>
                <div class="right-box">
                    <h1>Great hairstyle comes <br> from the experts.</h1>
                </div>
            </div>
            <div class="box-2">
                <div class="section-1">
                    <img src="C:\Users\HP\Desktop\WebDevelopment\imgaes\besthairstyle.png" alt="wait">
                    <h3>Best Hairstylists </h3>
                    <p>Want an easier solution for a Free Website? Head straight to Wix and immediately start customizing your website! This is just a place holder, so you can see what the site would look like.</p>
                </div>
                <div class="section-2">
                    <img src="C:\Users\HP\Desktop\WebDevelopment\imgaes\featuredhairstyle.png" alt="wait">
                    <h3>Featured Hairstyle</h3>
                    <p>Wix is an online website builder with a simple drag & drop interface, meaning you do the work online and instantly publish to the web. Nothing to download, nothing to upload.</p>
                </div>
                <div class="section-3">
                    <img src="C:\Users\HP\Desktop\WebDevelopment\imgaes\haircare.png" alt="wait">
                    <h3>Hair Care</h3>
                    <p>All Wix templates are fully customizable and free to use. Just pick one you like, click Edit, and enter the online editor. Change, add, and remove items as you like.                    </p>
                </div>
                <div class="section-4">
                    <img src="C:\Users\HP\Desktop\WebDevelopment\imgaes\wehairyou2.png" alt="wait">
                    <h3>We "Hair" you</h3>
                    <p>Wix also offers a ton of free design elements right inside the editor, like images, icons, animation files, and interactive widgets. Publish your Free Website in minutes!                    </p>
                </div>
            </div>
            <div class="box-3">
                <div class="left-box-1">
                    <h2>Featured</h2>
                    <img src="C:\Users\HP\Desktop\WebDevelopment\imgaes\shortgirl.png" alt="yes">
                    <h3>Hair,I Just meet you</h3>
                    <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.<br><br>
                        Want an easier solution for a Free Website? Head straight to Wix and immediately start customizing your website! Wix is an online website builder with a simple drag & drop interface, meaning you do the work online and instantly publish to the web. Nothing to download, nothing to upload.<br><br>
                        All Wix templates are fully customizable and free to use. Just pick one you like, click Edit, and enter the online editor. Change, add, and remove items as you like. Wix also offers a ton of free design elements right inside the editor, like images, icons, animation files, and interactive widgets. Publish your Free Website in minutes!</p>
                </div>
                <div class="right-box-1">
                    <div class="topbox">
                        <h2>Hairstyle</h2>
                        <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.</p>
                        <h3>Mike M.</h3>
                    </div>
                    <div class="bottombox">
                        <div class="section-left">
                            <img src="C:\Users\HP\Desktop\WebDevelopment\imgaes\man.png" alt="wait">
                        </div>
                        <div class="section-right">
                            <h4>Are you losing your hair? <br> Let us help you in bringing back your confidence.
                                Call Us at 1800-0000-0000
                            </h4>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer-full-width">
            <div class="footer">
                <p>© copyright 2023 | all rights reserved.</p>
                <div class="social">
                    <span class="fa fa-twitter"></span>
                    <span class="fa fa-facebook-official"></span>
                    <span class="fa fa-google"></span>
                    <span class="fa fa-pinterest"></span>
                </div>
            </div>
        </div>
    </body>
</html>